<div class="hero min-h-[39rem] flex items-center justify-center">
  <div class="hero-content flex-col lg:flex-row-reverse p-10 rounded-lg">
    <div class="text-center lg:text-left lg:w-1/2">
      <h1 class="text-5xl font-bold text-primary">Login now!</h1>
      <p class="py-6">
        Welcome back! Please login to your account. If you don't have an
        account, you can easily sign up.
      </p>
    </div>
    <div class="card w-full max-w-md lg:w-1/2">
      <div class="card-body">
        <form #loginForm="ngForm" (ngSubmit)="onLogin(loginForm)">
          <div class="form-control">
            <label class="label">
              <span class="label-text">Email</span>
            </label>
            <input
              type="email"
              placeholder="Enter your email"
              class="input input-bordered"
              required
              id="Email"
              name="Email"
              ngModel
            />
          </div>
          <div class="form-control mt-4">
            <label class="label">
              <span class="label-text">Password</span>
            </label>
            <input
              type="password"
              placeholder="Enter your password"
              class="input input-bordered"
              required
              id="Password"
              name="Password"
              ngModel
            />
            <label class="label">
              <a href="#" class="label-text-alt link link-hover text-primary"
                >Forgot password?</a
              >
            </label>
          </div>
          <div class="form-control mt-6">
            <button type="submit" class="btn btn-primary w-full">Login</button>
          </div>
        </form>
        <div class="form-control mt-6">
          <button class="btn btn-accent w-full" (click)="signInWithGoogle()">
            Sign in with Google
          </button>
        </div>
        <div class="form-control mt-4 text-center">
          <span class="label-text">Don't have an account?</span>
          <a href="/signup" class="label-text-alt link link-hover text-primary"
            >Sign up here</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
