<div class="hero min-h-[39rem] flex items-center justify-center">
  <div class="hero-content flex-col lg:flex-row-reverse p-10 rounded-lg">
    <div class="text-center lg:text-left lg:w-1/2">
      <h1 class="text-5xl font-bold text-primary">Sign up now!</h1>
      <p class="py-6">
        Welcome! Please create your account to get started. If you already have
        an account, you can login
      </p>
    </div>
    <div class="card w-full max-w-md lg:w-1/2">
      <form
        #signUpForm="ngForm"
        (ngSubmit)="signUp(signUpForm)"
        class="card-body"
      >
        <div class="form-control">
          <label class="label">
            <span class="label-text">Full Name</span>
          </label>
          <input
            type="text"
            placeholder="Enter your full name"
            class="input input-bordered"
            required
            id="Username"
            name="Username"
            ngModel
          />
        </div>
        <div class="form-control mt-4">
          <label class="label">
            <span class="label-text">Email</span>
          </label>
          <input
            type="email"
            placeholder="Enter your email"
            class="input input-bordered"
            required
            id="Email"
            name="Email"
            ngModel
          />
        </div>
        <div class="form-control mt-4">
          <label class="label">
            <span class="label-text">Password</span>
          </label>
          <input
            type="password"
            placeholder="Enter your password"
            class="input input-bordered"
            required
            id="Password"
            name="Password"
            ngModel
          />
        </div>
        <div class="form-control mt-6">
          <button type="submit" class="btn btn-primary w-full">Sign Up</button>
        </div>
        <div class="form-control mt-4 text-center">
          <span class="label-text">Already have an account?</span>
          <a href="/login" class="label-text-alt link link-hover text-primary"
            >Login here</a
          >
        </div>
      </form>
    </div>
  </div>
</div>
