<div class="mx-auto py-8 px-4 sm:px-6 lg:px-8 flex gap-2">
  <div class="flex flex-col items-center">
    <div class="menu bg-base-200 w-64 rounded-box p-4 sticky top-20">
      <h2 class="menu-title dark:text-accent text-lg">Filters</h2>
      <ul>
        <li>
          <h3 class="menu-title">Categories</h3>
          @for(category of categories;track category){ @if(category.name){
          <details open>
            <summary>{{ category.name }}</summary>

            <ul>
              <li>
                <ul>
                  @for(sub of category.subCategories.$values;track sub){

                  <li>
                    <label>
                      <input
                        type="checkbox"
                        class="checkbox checkbox-xs"
                        (change)="onCategoryChange(sub.id)"
                        [checked]="selectedCategories.includes(sub.id)"
                      />
                      {{ sub.name }}</label
                    >
                  </li>
                  }
                </ul>
              </li>
            </ul>
          </details>
          } }
        </li>
        <li>
          <h3 class="menu-title">Price Range</h3>
          <ul>
            @for (priceRange of priceRanges; track priceRange) {
            <li>
              <label>
                <input
                  type="checkbox"
                  class="checkbox checkbox-xs"
                  (change)="onPriceRangeChange(priceRange)"
                  [checked]="selectedPriceRanges.includes(priceRange)"
                />
                {{ priceRange.label }}
              </label>
            </li>
            }
          </ul>
        </li>
        <li>
          <h3 class="menu-title">Ratings</h3>
          <ul>
            @for (rating of ratings; track rating) {
            <li>
              <label>
                <input
                  type="checkbox"
                  class="checkbox checkbox-xs"
                  (change)="onRatingChange(rating)"
                  [checked]="selectedRatings.includes(rating)"
                />
                {{ rating }}
              </label>
            </li>
            }
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <div class="w-full p-2 flex flex-col gap-3">
    <!-- <div
      class="bg-blue-100 flex items-center gap-2 text-blue-500 p-4 rounded-lg"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        fill="currentColor"
        class="h-6 w-6"
      >
        <path
          d="M20.748 4H3.252A2.253 2.253 0 001 6.252v11.496A2.253 2.253 0 003.252 20h17.496A2.253 2.253 0 0023 17.748V6.252A2.253 2.253 0 0020.748 4zM3.252 5h17.496c.692 0 1.252.56 1.252 1.252v1.556H2v-1.556C2 5.56 2.56 5 3.252 5zm0 14a1.252 1.252 0 01-1.252-1.252V8.808h19.496v8.94c0 .692-.56 1.252-1.252 1.252H3.252z"
        />
        <path d="M15 12.5a1.5 1.5 0 000-3 1.5 1.5 0 000 3z" />
      </svg>

      <span
        >You have up to $2000 budget available and you can pay up to 12
        installments with FlowWallet see how it works.</span
      >
    </div> -->
    <div class="w-full">
      <input
        type="text"
        placeholder="Search..."
        class="input input-bordered w-full"
        [(ngModel)]="searchTerm"
        (input)="onSearchTermChange()"
      />
    </div>

    <div class="flex flex-wrap gap-4">
      @if(loading){
      <div class="skeleton w-[18.5rem] h-[22rem]"></div>
      <div class="skeleton w-[18.5rem] h-[22rem]"></div>
      <div class="skeleton w-[18.5rem] h-[22rem]"></div>
      <div class="skeleton w-[18.5rem] h-[22rem]"></div>
      <div class="skeleton w-[18.5rem] h-[22rem]"></div>
      <div class="skeleton w-[18.5rem] h-[22rem]"></div>
      <div class="skeleton w-[18.5rem] h-[22rem]"></div>
      <div class="skeleton w-[18.5rem] h-[22rem]"></div>
      <div class="skeleton w-[18.5rem] h-[22rem]"></div>
      <div class="skeleton w-[18.5rem] h-[22rem]"></div>

      } @else{ @if(filteredProducts.length == 0 ){

      <div class="flex justify-center items-center w-full py-16">
        <div class="text-center">
          <h3 class="mt-2 text-lg font-medium">No products found</h3>
          <p class="mt-1 text-md text-gray">
            Try adjusting your filters or search term.
          </p>
          <button
            class="mt-6 btn btn-sm btn-outline btn-primary"
            (click)="resetFilters()"
          >
            Reset Filters
          </button>
        </div>
      </div>
      } @else{ @for (product of filteredProducts; track product) {

      <div class="card w-[18.5rem] bg-base-200 shadow-xl">
        <figure class="h-48">
          <img src="{{ product.imageUrl }}" alt="Product Image" />
        </figure>
        <div class="card-body p-4">
          <div class="flex flex-col justify-between h-full">
            <div>
              <a
                [routerLink]="['/product', product.id]"
                class="hover:underline"
              >
                <h2 class="card-title line-clamp-2 h-16">
                  {{ product.name }}
                </h2>
              </a>

              <div class="flex items-center gap-2">
                <div class="rating rating-sm">
                  @for(something of [1,2,3,4,5] ;track something){
                  <ng-container>
                    <input
                      type="radio"
                      name="rating-6"
                      class="mask mask-star-2 bg-orange-500"
                      [checked]="something < 5"
                    /> </ng-container
                  >}
                </div>
                <span>(30)</span>
                <span class="underline">20 Reviews</span>
              </div>
              <p class="line-clamp-1 text-gray">
                {{ product.shortDescription }}
              </p>
            </div>
          </div>
          <div class="card-actions w-full flex justify-center items-center">
            <div
              class="text-xl flex items-end max-h-6 gap-1 font-bold flex-grow"
            >
              {{ product.price }}
              <p class="text-sm">Dt</p>
            </div>
            <button class="btn btn-sm btn-primary" (click)="addToCart(product)">
              Add to cart
            </button>
          </div>
        </div>
      </div>
      }}}
    </div>
  </div>
</div>
