<div class="mx-auto py-8 px-4 sm:px-6 lg:px-8 flex gap-2">
  <div class="flex flex-col items-center">
    <div class="menu bg-base-200 w-64 rounded-box p-4 sticky top-20">
      <h2 class="menu-title dark:text-primary text-lg">Filters</h2>
      <ul>
        <li>
          <h3 class="menu-title">Categories</h3>
          <ul>
            @for (category of categories; track category) {
            <li>
              <label>
                <input
                  type="checkbox"
                  (change)="onCategoryChange(category)"
                  [checked]="selectedCategories.includes(category)"
                />
                {{ category }}
              </label>
            </li>
            }
          </ul>
        </li>
        <li>
          <h3 class="menu-title">Price Range</h3>
          <ul>
            @for (priceRange of priceRanges; track priceRange) {
            <li>
              <label>
                <input
                  type="checkbox"
                  (change)="onPriceRangeChange(priceRange)"
                  [checked]="selectedPriceRanges.includes(priceRange)"
                />
                {{ priceRange }}
              </label>
            </li>
            }
          </ul>
        </li>
        <li>
          <h3 class="menu-title">Ratings</h3>
          <ul>
            @for (rating of ratings; track rating) {
            <li>
              <label>
                <input
                  type="checkbox"
                  (change)="onRatingChange(rating)"
                  [checked]="selectedRatings.includes(rating)"
                />
                {{ rating }}
              </label>
            </li>
            }
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <div class="w-full p-2 flex flex-col gap-3">
    <div class="w-full">
      <input
        type="text"
        placeholder="Search..."
        class="input input-bordered w-full"
        [(ngModel)]="searchTerm"
        (input)="onSearchTermChange()"
      />
    </div>
    <div class="flex flex-wrap gap-4">
      @for (product of filteredProducts; track product) {
      <div
        class="card w-[18.5rem] bg-base-100 shadow-xl border border-base-300"
      >
        <figure>
          <img
            src="https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.jpg"
            alt="Product Image"
          />
        </figure>
        <div class="card-body">
          <h2 class="card-title">{{ product.name }}</h2>
          <p>{{ product.description }}</p>
          <p class="text-2xl">{{ product.price }}Dt</p>

          <div class="card-actions w-full flex align-center mt-4">
            <button class="btn btn-sm btn-primary">Buy Now</button>
            <button
              class="btn btn-sm btn-secondary"
              (click)="addToCart(product)"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-6 w-6"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z"
                />
              </svg>
            </button>
          </div>
        </div>
      </div>
      }
    </div>
  </div>
</div>
