<div class="mx-auto py-8 px-4 sm:px-6 lg:px-8 flex gap-2">
  <div class="flex flex-col items-center">
    <div class="menu bg-base-200 w-64 rounded-box p-4 sticky top-20">
      <h2 class="menu-title dark:text-accent text-lg">Filters</h2>
      <ul>
        <li>
          <h3 class="menu-title">Categories</h3>
          @for(category of categories;track category){ @if(category.name){
          <details open>
            <summary>{{ category.name }}</summary>

            <ul>
              <li>
                <ul>
                  @for(sub of category.subCategories.$values;track sub){

                  <li>
                    <label>
                      <input
                        type="checkbox"
                        class="checkbox checkbox-xs"
                        (change)="onCategoryChange(sub.id)"
                        [checked]="selectedCategories.includes(sub.id)"
                      />
                      {{ sub.name }}</label
                    >
                  </li>
                  }
                </ul>
              </li>
            </ul>
          </details>
          } }
        </li>
        <li>
          <h3 class="menu-title">Price Range</h3>
          <ul>
            @for (priceRange of priceRanges; track priceRange) {
            <li>
              <label>
                <input
                  type="checkbox"
                  class="checkbox checkbox-xs"
                  (change)="onPriceRangeChange(priceRange)"
                  [checked]="selectedPriceRanges.includes(priceRange)"
                />
                {{ priceRange.label }}
              </label>
            </li>
            }
          </ul>
        </li>
        <li>
          <h3 class="menu-title">Ratings</h3>
          <ul>
            @for (rating of ratings; track rating) {
            <li>
              <label>
                <input
                  type="checkbox"
                  class="checkbox checkbox-xs"
                  (change)="onRatingChange(rating)"
                  [checked]="selectedRatings.includes(rating)"
                />
                {{ rating }}
              </label>
            </li>
            }
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <div class="w-full p-2 flex flex-col gap-3">
    <div class="w-full">
      <input
        type="text"
        placeholder="Search..."
        class="input input-bordered w-full"
        [(ngModel)]="searchTerm"
        (input)="onSearchTermChange()"
      />
    </div>
    <div class="flex flex-wrap gap-4">
      @if(loading){
      <div class="skeleton w-[18.5rem] h-[22rem]"></div>
      <div class="skeleton w-[18.5rem] h-[22rem]"></div>
      <div class="skeleton w-[18.5rem] h-[22rem]"></div>
      <div class="skeleton w-[18.5rem] h-[22rem]"></div>
      <div class="skeleton w-[18.5rem] h-[22rem]"></div>
      <div class="skeleton w-[18.5rem] h-[22rem]"></div>
      <div class="skeleton w-[18.5rem] h-[22rem]"></div>
      <div class="skeleton w-[18.5rem] h-[22rem]"></div>
      <div class="skeleton w-[18.5rem] h-[22rem]"></div>
      <div class="skeleton w-[18.5rem] h-[22rem]"></div>

      } @else{ @if(filteredProducts.length == 0 ){

      <div class="flex justify-center items-center w-full py-16">
        <div class="text-center">
          <h3 class="mt-2 text-lg font-medium">No products found</h3>
          <p class="mt-1 text-md text-gray">
            Try adjusting your filters or search term.
          </p>
          <button
            class="mt-6 btn btn-sm btn-outline btn-primary"
            (click)="resetFilters()"
          >
            Reset Filters
          </button>
        </div>
      </div>
      } @else{ @for (product of filteredProducts; track product) {

      <div class="card w-[18.5rem] bg-base-200 shadow-xl">
        <figure class="h-48">
          <img src="{{ product.imageUrl }}" alt="Product Image" />
        </figure>
        <div class="card-body p-4">
          <div class="flex flex-col justify-between h-full">
            <div>
              <a
                [routerLink]="['/product', product.id]"
                class="text-accent hover:underline"
              >
                <h2 class="card-title line-clamp-2 h-16">
                  {{ product.name }}
                </h2>
              </a>

              <p class="line-clamp-2">
                {{ product.shortDescription }}
              </p>
            </div>
            <div class="text-2xl flex items-end max-h-6 mt-4 ml-1 gap-1">
              {{ product.price }}
              <p class="text-sm text-accent">Dt</p>
            </div>
          </div>
          <div class="card-actions w-full flex justify-center items-center">
            <button
              class="btn btn-sm text-accent border-1 border-accent flex-grow"
            >
              Buy Now
            </button>
            <button
              class="btn btn-sm text-secondary border-1 border-secondary flex-none"
              (click)="addToCart(product)"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-5 w-5"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z"
                />
              </svg>
            </button>
          </div>
        </div>
      </div>
      }}}
    </div>
  </div>
</div>
