<div class="container mx-auto p-4 h-full">
  <h1 class="text-2xl font-bold mb-4">Reports List</h1>
  <div class="overflow-x-auto h-full">
    <table class="table">
      <thead>
        <tr>
          <th class="text-left">ID</th>
          <th class="text-left">User</th>
          <th class="text-left">Order ID</th>
          <th class="text-left">Description</th>
          <th class="text-left">Created At</th>
          <th class="text-left">Action</th>
        </tr>
      </thead>
      <tbody>
        @if(reports.length > 0){
        <tr *ngFor="let report of reports">
          <td>{{ report.id }}</td>
          <td>{{ report.userEmail }}</td>
          <td>{{ report.orderId }}</td>
          <td class="max-w-54">{{ report.description }}</td>

          <td>{{ report.createdAt | date : "short" }}</td>

          <td>
            <button
              class="btn btn-sm mr-2"
              [routerLink]="['/orderDetails', report.orderId]"
            >
              View Order
            </button>
            <details class="dropdown dropdown-bottom dropdown-end">
              <summary
                class="btn btn-sm"
                [ngClass]="getStatusClass(report.status).color"
              >
                {{ getStatusClass(report.status).text }}
              </summary>
              <ul
                class="menu dropdown-content rounded-box z-[1] w-52 p-2 shadow bg-base-300"
              >
                <li>
                  <a (click)="updateStatus(report, 0)">Pending</a>
                </li>
                <li>
                  <a (click)="updateStatus(report, 1)">Reviewed</a>
                </li>
                <li>
                  <a (click)="updateStatus(report, 2)">Resolved</a>
                </li>
              </ul>
            </details>
          </td>
        </tr>
        }@else{
        <div>No reports yet</div>
        }
      </tbody>
    </table>
  </div>
</div>
