<div class="min-h-[38rem] py-8">
  <div class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex flex-col lg:flex-row gap-4">
      <div class="md:flex-1 px-4">
        <div class="h-[460px] overflow-hidden">
          <img
            class="w-full h-full object-cover rounded-xl"
            src="{{ product.imageUrl }}"
            alt="Product Image"
          />
        </div>
      </div>
      <div class="flex flex-col md:flex-1 px-4 justify-between gap-2">
        <div class="badge" [ngClass]="getStockClass()">
          @if(product.stock === undefined || product.stock === null){
          <span> Availability Unknown </span>
          }@else if(product.stock === 0){
          <span> Out of Stock </span>
          }@else if(product.stock > 0 && product.stock <= 10){
          <span> Low Stock ({{ product.stock }} left) </span>
          }@else if(product.stock > 10){
          <span> In Stock ({{ product.stock }} left) </span> }
        </div>
        <h2 class="text-2xl font-bold mb-2">
          {{ product.name }}
        </h2>
        <div class="flex items-center gap-2">
          <div class="rating rating-sm gap-1">
            @for(something of range(5) ;track something){
            <ng-container>
              <input
                type="radio"
                name="rating-6"
                class="mask mask-star-2 bg-orange-400"
                [checked]="something < averageRating"
              /> </ng-container
            >}
          </div>
          <span>({{ averageRating.toFixed(1) }})</span>
          <span class="underline">{{ totalReviews }} Reviews</span>
        </div>
        <p class="text-lg">
          {{ product.shortDescription }}
        </p>
        <div class="badge badge-secondary">
          {{ product.category.name }}
        </div>

        <span class="text-4xl font-bold"> ${{ product.price }}</span>
        <div class="flex -mx-2 mt-6">
          <div class="px-2">
            <button class="btn btn-primary w-full" (click)="addToCart(product)">
              Add to Cart
            </button>
          </div>
        </div>
        <div class="divider"></div>

        <div class="flex flex-wrap gap-10">
          <div class="flex flex-col gap-2">
            <span class="text-xl">Color</span>
            <div class="space-x-2">
              @for(color of product.colors.$values ;track color){
              <div class="badge badge-neutral border badge-lg">
                {{ color }}
              </div>
              }
            </div>
          </div>
          <div class="flex flex-col gap-2">
            <span class="text-xl">Size</span>
            <div class="space-x-2">
              @for(size of product.sizes.$values ;track size){
              <div class="badge badge-neutral border badge-lg">
                {{ size }}
              </div>
              }
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="my-4 p-4">
        <span class="font-bold text-gray-700 text-2xl"
          >Product Description:</span
        >
        <p class="mt-2 text-lg">
          {{ product.description }}
        </p>
      </div>
      <div class="p-8">
        <div class="text-center">
          <div class="text-4xl font-bold">
            Reviews
            <span class="text-yellow-400"
              >({{ averageRating.toFixed(1) }})</span
            >
          </div>
          <div class="text-lg">{{ totalReviews }} Reviews</div>
        </div>
        <div class="flex mt-4 gap-4">
          <div class="flex flex-col w-1/4 gap-4">
            <div class="text-2xl font-bold">
              {{ averageRating.toFixed(2) }} out of 5
            </div>
            <button
              class="btn btn-primary btn-sm w-36"
              onclick="my_modal_1.showModal()"
            >
              Write a review
            </button>
          </div>

          <div class="w-3/4">
            @for(review of reviewSummary;track review){
            <ng-container>
              <div class="flex items-center mt-2">
                <span class="mr-2">{{ review.score }}</span>
                <div class="flex-grow">
                  <progress
                    class="progress progress-primary w-full"
                    [value]="review.count"
                    [max]="totalReviews"
                  ></progress>
                </div>
                <span class="ml-4">{{ review.count }} reviews</span>
              </div>
            </ng-container>
            }
          </div>
        </div>
        <div class="mt-6">
          <h3 class="text-2xl font-bold mb-2">Customer Reviews</h3>

          @if(product.ratings.$values){ @for(comment of product.ratings.$values
          ;track comment){
          <div class="bg-base-200 p-4 rounded-lg mb-4">
            <div class="flex flex-col">
              <div class="flex items-center gap-2">
                <div class="text-lg font-bold">{{ comment.user.username }}</div>

                <div class="rating rating-xs">
                  @for(rate of range(comment.score) ;track rate ){
                  <input
                    type="radio"
                    name="rating-6"
                    class="mask mask-star-2 bg-orange-400"
                  />
                  }
                </div>
              </div>
              <div class="text-sm">{{ comment.createdAt }}</div>
            </div>
            <div class="mt-2">
              {{ comment.comment }}
            </div>
          </div>
          }}
        </div>
      </div>
    </div>
  </div>
</div>
<dialog id="my_modal_1" class="modal">
  <div method="dialog" class="modal-box">
    <form method="dialog">
      <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">
        ✕
      </button>
    </form>
    <form #reviewForm="ngForm" (ngSubmit)="rateProduct()">
      <h3 class="font-bold text-lg">Add a review for:</h3>
      <span class="line-clamp-1">{{ product.name }}</span>
      <div class="divider"></div>
      <div class="rating rating-md">
        @for(something of range(5);track something){
        <ng-container>
          <input
            type="radio"
            name="rating-6"
            ngModel="submittedRatingValue"
            class="mask mask-star-2 bg-orange-400"
            [checked]="something < averageRating"
          />
        </ng-container>
        }
      </div>
      <div class="flex flex-col gap-2 mt-4">
        <span>Review description </span>
        <textarea
          name="reviewDescription"
          [(ngModel)]="ratingDescription"
          class="textarea textarea-bordered w-full"
          placeholder="Write your review here..."
          required
        ></textarea>
      </div>
      <div class="form-control mt-4 max-w-max gap-2">
        <label class="cursor-pointer label">
          <input type="checkbox" class="checkbox checkbox-xs" required />
          <span class="label-text ml-2"
            >I agree to the terms and conditions</span
          >
        </label>
      </div>
      <div class="modal-action">
        <button
          type="submit"
          class="btn btn-primary btn-sm"
          [disabled]="!reviewForm.valid"
        >
          Submit Review
        </button>
      </div>
    </form>
  </div>
</dialog>
