<div class="min-h-[38rem] py-8">
  <div class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex flex-col md:flex-row -mx-4">
      <div class="md:flex-1 px-4">
        <div class="h-[460px] overflow-hidden">
          <img
            class="w-full h-full object-cover rounded-xl"
            src="{{ product.imageUrl }}"
            alt="Product Image"
          />
        </div>
      </div>
      <div class="flex flex-col md:flex-1 px-4 justify-between">
        <h2 class="text-2xl font-bold text-gray-800 dark:text-white mb-2">
          {{ product.name }}
        </h2>
        <p class="text-gray-600 dark:text-gray-300 text-sm mb-4">
          {{ product.shortDescription }}
        </p>
        <div class="mb-4" [ngClass]="getStockClass()">
          <span class="font-bold text-gray-700 dark:text-gray-300"
            >Availability :</span
          >

          @if(product.stock === undefined || product.stock === null){
          <span> Availability Unknown </span>
          }@else if(product.stock === 0){
          <span> Out of Stock </span>
          }@else if(product.stock > 0 && product.stock <= 10){
          <span> Low Stock ({{ product.stock }} left) </span>
          }@else if(product.stock > 10){
          <span> In Stock ({{ product.stock }} left) </span> }
        </div>
        <div class="mb-4">
          <span class="font-bold text-gray-700 dark:text-gray-300"
            >Category :
          </span>
          <span class="text-gray-600 dark:text-gray-300">
            {{ product.category.name }}
          </span>
        </div>
        <!-- 
        <div class="mb-4">
          <span class="font-bold text-gray-700 dark:text-gray-300"
            >Select Size:</span
          >
          <div class="flex items-center mt-2">
            <button
              class="g-gray-300 dark:bg-gray-700 text-gray-700 dark:text-white py-2 px-4 rounded-full font-bold mr-2 hover:bg-gray-400 dark:hover:bg-gray-600"
            >
              S
            </button>
            <button
              class="bg-gray-300 dark:bg-gray-700 text-gray-700 dark:text-white py-2 px-4 rounded-full font-bold mr-2 hover:bg-gray-400 dark:hover:bg-gray-600"
            >
              M
            </button>
            <button
              class="bg-gray-300 dark:bg-gray-700 text-gray-700 dark:text-white py-2 px-4 rounded-full font-bold mr-2 hover:bg-gray-400 dark:hover:bg-gray-600"
            >
              L
            </button>
          </div>
        </div> -->
        <div>
          <span class="font-bold text-gray-700 dark:text-gray-300"
            >Product Description:</span
          >
          <p class="text-gray-600 dark:text-gray-300 text-sm mt-2">
            {{ product.description }}
          </p>
        </div>
        <div class="my-2 text-lg">
          <span class="font-bold text-gray-700 dark:text-gray-300"
            >Price :
          </span>
          <span class="text-primary text-2xl"> ${{ product.price }}</span>
        </div>
        <div class="flex -mx-2 mt-6 justify-center">
          <div class="w-3/6 px-2">
            <button
              class="btn btn-outline rounded-xl w-full"
              (click)="addToCart(product)"
            >
              Add to Cart
            </button>
          </div>
          <div class="w-3/6 px-2">
            <button class="btn btn-primary w-full">Purchase</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
