<div class="container mx-auto p-6">
  <h1 class="text-2xl font-bold mb-4">Create a Report</h1>
  <form
    #addReportForm="ngForm"
    (ngSubmit)="onSubmit(addReportForm)"
    class="space-y-3"
  >
    <div class="space-y-1">
      <label for="description" class="block font-semibold">Description:</label>
      <input
        id="description"
        name="description"
        placeholder="Write your DEscription over here please "
        class="textarea textarea-bordered w-full"
        ngModel
        required
      />
    </div>
    <button type="submit" class="btn btn-primary btn-sm">Create Report</button>
  </form>
</div>
