<div class="hero min-h-[20rem] carousel w-full">
  <!-- Carousel Item 1 -->
  <div id="slide1" class="carousel-item relative w-full">
    <div
      class="hero min-h-[20rem]"
      style="
        background-image: url(../../../assets/fast-fashion-concept-with-woman-shopping_23-2150871375.jpg);
      "
    >
      <div class="hero-overlay bg-opacity-50"></div>
      <div class="hero-content text-center text-white h-full">
        <div class="w-full h-full">
          <div class="flex justify-between">
            <div class="flex flex-col items-start p-2 text-xl">
              <h1>LATEST TRENDS IN FASHION</h1>
              <h1>E-COMMERCE SHOP</h1>
            </div>
            <div class="flex flex-col items-end p-2 text-md">
              <h1 class="text-gray text-lg">LAAKRI</h1>
            </div>
          </div>
          <h1
            class="mb-5 text-[5rem] sm:text-[10rem] md:text-[15rem] lg:text-[20rem] font-bold"
          >
            GLIDE
          </h1>

          <button class="btn">Shop Now</button>
        </div>
      </div>
    </div>
    <div
      class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2"
    >
      <a href="#slide4" class="btn btn-circle">❮</a>
      <a href="#slide2" class="btn btn-circle">❯</a>
    </div>
  </div>
</div>
<div class="min-h-screen">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <!-- Products section -->
    <section class="py-16">
      <div class="container mx-auto">
        <h2 class="text-5xl font-bold mb-8">Featured Products</h2>
        <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
          @for(product of ProductFakeList ;track product){

          <div
            class="w-96 h-[25rem] bg-base-100 shadow-md rounded-lg overflow-hidden"
          >
            <div class="h-5/6">
              <img
                class="object-cover h-full w-full"
                src="{{ product }}"
                alt="Shoes"
              />
            </div>
            <div
              class="card-actions h-1/6 flex items-center justify-between px-4 py-2 bg-gray-100"
            >
              <span class="text-lg font-semibold">Discover More</span>
              <button
                class="btn btn-circle btn-sm btn-primary flex items-center justify-center"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="h-5 w-5 text-white"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M9 5l7 7-7 7"
                  />
                </svg>
              </button>
            </div>
          </div>
          }
        </div>
      </div>
    </section>

    <!-- Categories section -->
    <section class="py-4">
      <div class="container mx-auto">
        <h2 class="text-5xl font-bold mb-8">Categories</h2>

        <div class="grid grid-cols-1 md:grid-cols-4 gap-8">
          <div class="p-6 border">
            <div class="flex items-center mb-4">
              <h3 class="text-xl font-bold mb-2">Fashion</h3>
            </div>
            <p class="text-gray-600">
              Explore our collection of trendy clothing for men, women, and
              kids.
            </p>
          </div>
          <div class="p-6 border">
            <div class="flex items-center mb-4">
              <h3 class="text-xl font-bold mb-2">Electronics</h3>
            </div>
            <p class="text-gray-600">
              Browse through our selection of the latest gadgets and
              electronics.
            </p>
          </div>
          <div class="p-6 border">
            <div class="flex items-center mb-4">
              <h3 class="text-xl font-bold mb-2">Home Goods</h3>
            </div>
            <p class="text-gray-600">
              Discover stylish and functional home decor and furnishings.
            </p>
          </div>
          <div class="p-6 border">
            <div class="flex items-center mb-4">
              <h3 class="text-xl font-bold mb-2">Sports & Outdoors</h3>
            </div>
            <p class="text-gray-600">
              Gear up for your next adventure with our selection of sports and
              outdoor equipment.
            </p>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
