<div
  class="max-w-7xl mx-auto py-8 px-4 sm:px-6 lg:px-8 md:flex flex-col md:flex-row gap-6 min-h-[37rem]"
>
  <div class="w-full md:w-2/3 flex flex-col gap-4">
    <!-- Order Information -->
    <div class="px-6">
      <div class="text-2xl font-bold mb-2">Order Details</div>
      <div class="grid grid-cols-2 md:grid-cols-4 gap-4">
        <div>
          <label class="label">
            <span class="label-text font-bold">Order ID:</span>
          </label>
          <div class="text-lg">#{{ order.id }}</div>
        </div>
        <div>
          <label class="label">
            <span class="label-text font-bold">Date:</span>
          </label>
          <div class="text-lg">{{ order.date | date : "yyyy-MM-dd" }}</div>
        </div>
        <div>
          <label class="label">
            <span class="label-text font-bold">Status:</span>
          </label>
          <div class="text-lg">
            <span class="badge badge-success">{{ order.status }}</span>
          </div>
        </div>
        <div>
          <label class="label">
            <span class="label-text font-bold">Total:</span>
          </label>
          <div class="text-lg">{{ order.total | currency }}</div>
        </div>
      </div>
    </div>
    <div class="w-full flex flex-col gap-4 px-6">
      <div class="text-2xl font-bold mb-2">Order Information</div>
      <div class="grid grid-cols-2 md:grid-cols-3 gap-4">
        <div>
          <div class="font-semibold">Full Name:</div>
          <div>{{ order.fullName }}</div>
        </div>
        <div>
          <div class="font-semibold">Email:</div>
          <div>{{ order.email }}</div>
        </div>
        <div>
          <div class="font-semibold">Phone:</div>
          <div>{{ order.phone }}</div>
        </div>
        <div>
          <div class="font-semibold">Shipping Address:</div>
          <div>{{ order.address }}</div>
        </div>
        <div>
          <div class="font-semibold">City:</div>
          <div>{{ order.city }}</div>
        </div>
        <div>
          <div class="font-semibold">Postal Code:</div>
          <div>{{ order.postalCode }}</div>
        </div>
      </div>
    </div>
    <!-- Product List -->
    <div class="rounded-lg p-6">
      <div class="text-2xl font-bold mb-4">Products</div>
      <div class="overflow-x-auto mt-4">
        <table class="table w-full">
          <thead>
            <tr>
              <th>Product Name</th>
              <th>Description</th>
              <th>Price</th>
              <th>Quantity</th>
              <th>Total</th>
            </tr>
          </thead>
          @if(order.orderItems){
          <tbody>
            @for(product of order.orderItems.$values;track product){
            <tr>
              <td>
                <div class="flex items-center gap-3">
                  <div class="avatar">
                    <div class="mask mask-squircle w-12 h-12">
                      <img
                        src="https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.jpg"
                        alt="Product Image"
                      />
                    </div>
                  </div>
                  <div>
                    <div class="font-bold">{{ product.product.name }}</div>
                    <div class="text-sm opacity-50">
                      {{ product.product.category }}
                    </div>
                  </div>
                </div>
              </td>

              <td>{{ product.product.description }}</td>
              <td>{{ product.product.price | currency }}</td>
              <td>{{ product.quantity }}</td>
              <td>
                {{ product.product.price * product.quantity | currency }}
              </td>
            </tr>
            }
          </tbody>
          }
        </table>
      </div>
    </div>
  </div>
  <!-- Order Summary -->
  <div class="w-full md:w-1/3">
    <div class="border dark:border-gray-700 rounded-lg p-4">
      <div class="text-2xl mb-4 font-bold">Order Summary</div>
      <div class="flex justify-between mb-2">
        <div>Subtotal</div>
        <div class="font-bold">$0.00</div>
      </div>
      <div class="flex justify-between mb-2">
        <div>Shipping</div>
        <div class="font-bold">$0.00</div>
      </div>
      <div class="flex justify-between mb-2">
        <div>Discount</div>
        <div class="font-bold">-$0.00</div>
      </div>
      <div class="flex justify-between mb-2">
        <div class="font-bold text-lg">Total</div>
        <div class="font-bold">{{ total }}</div>
      </div>
      <button class="btn btn-primary mt-4 w-full" type="button">
        Download Invoice
      </button>
    </div>
  </div>
</div>
