<div class="container mx-auto p-6">
  <h1 class="text-2xl font-bold mb-4">Update Product</h1>
  <form
    #updateProductForm="ngForm"
    (ngSubmit)="submitUpdateProduct(updateProductForm)"
    class="space-y-4"
  >
    <div class="space-y-1">
      <label for="name" class="block font-semibold">Product Name:</label>
      <input
        type="text"
        id="name"
        class="input input-bordered w-full"
        placeholder="Enter product name"
        [(ngModel)]="product.name"
        name="name"
        required
      />
    </div>
    <div class="space-y-1">
      <label for="description" class="block font-semibold"
        >Product Description:</label
      >
      <textarea
        id="description"
        class="textarea textarea-bordered w-full"
        placeholder="Enter product description"
        [(ngModel)]="product.description"
        name="description"
        required
      ></textarea>
    </div>
    <div class="space-y-1">
      <label for="shortDescription" class="block font-semibold"
        >Short Description:</label
      >
      <textarea
        id="shortDescription"
        class="textarea textarea-bordered w-full"
        placeholder="Enter short description"
        [(ngModel)]="product.shortDescription"
        name="shortDescription"
        required
      ></textarea>
    </div>
    <div class="space-y-1">
      <label for="price" class="block font-semibold">Price:</label>
      <input
        type="number"
        id="price"
        class="input input-bordered w-full"
        placeholder="Enter price"
        [(ngModel)]="product.price"
        name="price"
        required
      />
    </div>
    <div class="space-y-1">
      <label for="stock" class="block font-semibold">Stock:</label>
      <input
        type="number"
        id="stock"
        class="input input-bordered w-full"
        placeholder="Enter stock"
        [(ngModel)]="product.stock"
        name="stock"
        required
      />
    </div>
    <!-- <div class="space-y-1">
      <label for="category" class="block font-semibold">Category:</label>
      <input
        type="text"
        id="category"
        class="input input-bordered w-full"
        placeholder="Enter category"
        [(ngModel)]="product.category"
        name="category"
        required
      />
    </div> -->
    <div class="space-y-1">
      <label for="category" class="block font-semibold">Category:</label>
      <select
        id="category"
        class="select select-bordered w-full"
        ngModel
        name="categoryId"
        required
      >
        @for(category of categories;track category){ @if(category.name){
        @for(sub of category.subCategories.$values;track sub){
        <option [ngValue]="sub.id">
          {{ sub.name }}
        </option>
        }}}
      </select>
    </div>
    @if(product.imageUrl){
    <div class="space-y-1">
      <label class="block font-semibold">Current Product Image:</label>
      <img [src]="product.imageUrl" alt="Product Image" class="w-40 h-auto" />
    </div>
    }
    <div class="space-y-1">
      <label for="image" class="block font-semibold"
        >Update Product Image:</label
      >
      <input
        type="file"
        id="image"
        class="file-input file-input-bordered w-full"
        (change)="onFileChange($event)"
      />
    </div>
    <button type="submit" class="btn btn-primary w-full">Update Product</button>
  </form>
</div>
