<div class="max-w-7xl mx-auto py-8 px-4 sm:px-6 lg:px-8 min-h-[37rem]">
  <div class="w-full p-2 flex flex-col gap-4">
    <!-- Profile Information -->
    <div class="rounded-lg p-6">
      <div class="flex justify-between items-center mb-4">
        <div class="text-2xl font-bold">Profile Information</div>
        <a href="/settings/account" class="btn btn-sm btn-outline">
          Settings
        </a>
      </div>
      <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
        <div>
          <label class="label">
            <span class="label-text font-bold">Full Name:</span>
          </label>
          <div class="text-lg">{{ user.userName }}</div>
        </div>
        <div>
          <label class="label">
            <span class="label-text font-bold">Email:</span>
          </label>
          <div class="text-lg">{{ user.userEmail }}</div>
        </div>
        <div>
          <label class="label">
            <span class="label-text font-bold">Role:</span>
          </label>
          <div class="text-lg">{{ user.role }}</div>
        </div>
      </div>
    </div>

    <!-- Order History -->
    <div class="rounded-lg p-6">
      <div class="text-2xl font-bold mb-4">Order History</div>
      <div class="overflow-x-auto">
        <table class="table w-full">
          <thead>
            <tr>
              <th class="p-2 text-left text-lg">Order ID</th>
              <th class="p-2 text-left text-lg">Date</th>
              <th class="p-2 text-left text-lg">Status</th>
              <th class="p-2 text-left text-lg">Total</th>
              <th class="p-2 text-left text-lg">Actions</th>
            </tr>
          </thead>
          <tbody>
            @for(order of orders;track order){
            <tr>
              <td class="p-2">#{{ order.id }}</td>
              <td class="p-2">
                {{ order.date | date : "dd/MM/yyyy HH:mm:ss" }}
              </td>
              <td class="p-2">
                <div
                  class="badge"
                  [ngClass]="{
                    'badge-success': order.status === 'Shipped',
                    'badge-warning': order.status === 'Pending',
                    'badge-error': order.status === 'Canceled'
                  }"
                >
                  {{ order.status }}
                </div>
              </td>
              <td class="p-2">${{ order.total }}</td>
              <td class="p-2">
                <button class="btn btn-sm mr-2" (click)="viewOrder(order.id)">
                  View
                </button>
                <button
                  class="btn btn-xs text-red-400"
                  (click)="reportOrder(order.id, user.userId)"
                  onclick="my_modal_1.showModal()"
                >
                  Report
                </button>
              </td>
            </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<dialog id="my_modal_1" class="modal">
  <div class="modal-box">
    <h3 class="font-bold text-lg">
      Create a Report for Order N°: {{ reportOrderId }}
    </h3>
    <form
      #addReportForm="ngForm"
      (ngSubmit)="onSubmit(addReportForm)"
      class="space-y-5 mt-2"
    >
      <div class="space-y-1">
        <label for="description" class="block font-semibold"
          >Description:</label
        >
        <input
          id="description"
          name="description"
          placeholder="Write your DEscription over here please "
          class="textarea textarea-bordered w-full h-24"
          ngModel
          required
        />
      </div>
      <button type="submit" class="btn btn-primary btn-sm">
        Create Report
      </button>
    </form>
    <div class="modal-action">
      <form method="dialog">
        <button class="btn">Close</button>
      </form>
    </div>
  </div>
</dialog>
